bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/
*.nupkg
packages/
.nuget/
*.publish.xml
publish/
*.pdb
*.tmp
*.log
*.cache
_ReSharper*/
*.DotSettings.user
Thumbs.db
.DS_Store
*.db
*.mdf
*.ldf
